body {
    background: rgba(17, 201, 186, 0.26);
}


h1 {
    text-align: center;
    background: rgba(32, 245, 217, 0.39); 
}

p {
    text-align: center;
    background: rgba(25, 235, 190, 0.479);
}

strong {
    color: rgba(0, 225, 255, 0.733);
    
}