body {
    background: rgba(32, 34, 34, 0);
}
#maquiagens{
    width: 100%;
    height: 300px;
}

h1 {
    text-align: center;
    background: rgba(245, 32, 245, 0.281); 
}

p {
    text-align: center;
    background: rgba(235, 25, 190, 0.486);
}

strong {
    color: rgba(255, 0, 242, 0.664);
    
}